# Created by venv; see https://docs.python.org/3/library/venv.html
# =========================
# Python
# =========================
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
.venv/
venv/
env/

# Environment variables (API keys)
.env
.env.*

# =========================
# AI / ML data
# =========================
data/
datasets/
models/
checkpoints/

# Vector database
local_vector_db/
chroma_db/
faiss_index/

# Logs
logs/
*.log
